body{
    font-family: 'Sarabun', sans-serif;
    background:#f2f4f8;
}

.container{
    width:400px;
    margin:auto;
    margin-top:50px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}

.btn{
    background:#007bff;
    color:white;
    padding:10px 20px;
    text-decoration:none;
}
